<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- @Component，@Repository，@Service，@Controller 自動掃描，並添加到bean工廠中去-->
	<!--<context:annotation-config/>  可被context:component-scan取代-->
	
	<!-- 用annotation 自動註冊bean並保證@Required,@Autowired被注入 -->
	<context:component-scan base-package="tw.com.iwow.service" />
	<jpa:repositories base-package="tw.com.iwow.dao" />
	<!-- @EnableTransactionManagement annotation to be used in on @Configuration -->
	<tx:annotation-driven transaction-manager="transactionManager"/>   
	
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="url"
			value="jdbc:sqlserver://softleader.com.tw:1433;databaseName=EEIT92DB" />
		<property name="username" value="EEIT92" />
		<property name="password" value="EEIT92" />
		<property name="defaultAutoCommit" value="false" />
	</bean>
	
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- @Entity scan -->
		<property name="packagesToScan" value="tw.com.iwow.entity,org.springframework.data.jpa.convert.threeten" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
            	<prop key="hibernate.hbm2ddl.auto">update</prop>
            	<prop key="hibernate.hbm2ddl.import_files">initial_data.sql</prop>
			</props>
		</property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>										   
	
 	<bean id="iwowController" class="tw.com.iwow.web.IwowController"/>



</beans>