<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http auto-config="true" use-expressions="true">
	<security:intercept-url pattern="/login*" access="permitAll" />
<!-- 	<security:intercept-url pattern="/login" access="hasRole('IS_AUTHENTICATED_ANONYMOUSLY')" /> -->
	<security:intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
<!-- 	<security:form-login login-page="/login" /> -->
	<security:logout />
	</security:http>


	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="ben" password="ben" authorities="ROLE_USER" />
			</user-service>
<!-- 			<jdbc-user-service data-source-ref="dataSource" -->
<!-- 				users-by-username-query="select username,password, enabled from book_users where username=?" -->
<!-- 				authorities-by-username-query="select username, role from book_user_roles where username =?" /> -->
		</authentication-provider>
	</authentication-manager>


</b:beans>