 @import url(https://fonts.googleapis.com/css?family=Pattaya|Work+Sans:400,200,300);
/*  banner底色 */
.navbar-inverse{
	background-image: -webkit-linear-gradient(top,#6AC5AC 0,#6AC5AC 100%); 
}
/*  logo css */
.logo_css{
    color: white !important;
    font-family:Ribeye !important;
    font-size: 30px !important;
    margin-top:5px !important;
}
.navbar-inverse .navbar-nav>li>a {
	font-family: "Work Sans", sans-serif;
	color:white !important;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
     text-shadow: 0 0px 0 rgba(0,0,0,.25) !important;
}
/*  banner border */
.banner_css {
    border-width: 0px 0px 10px 0px !important;
    border-style: solid !important;
    border-color: white !important;
}

/* search */
#searchCtx{
	border-radius:4px 0px 0px 4px !important;
	float: left !important;
	margin:0px !important;
	font-family: "Work Sans" !important;
}
#searchBtn{
	border-radius:0px 4px 4px 0px  !important;
	position: static !important;
}

#searchForm{
	margin-top:17px !important;
	margin-right:200px !important;
}
/* banner跟menu的位置上下關係(banner在menu之下) */
.banner{
	position:fixed;
	z-index:1;
}
/* banner_icon */
.banner_icon{
	font-size: 20px !important;
	margin-top:8px !important;
}
/* user_img */
.user_img{
	width: 35px; 
	height: 35px; 
	border-radius:100px;
	float:left;
	margin-right:10px;
}
/* user_name */
.user_name{
	width:160px;
/* 	padding: 0px; */
/* 	padding-top: 50px; */
	font-size: 20px;
}

/* user_nickname */
.user_nickname{
	font-family:Microsoft JhengHei;
}
